.diplom-raise-button > div > button > div {
    height: 24px !important;
}

.diplom-raise-button > div {
    height: 40px !important;
}

.diplom-raise-button > div > button > div > div > span {
    vertical-align: super !important;
}

.diplom-raise-button > div > button > div > div > svg {
    vertical-align: inherit !important;
}

.navbar-inverse {
    background-color: rgb(0, 188, 212) !important;
    border-color: rgb(0, 188, 212) !important;
}

.navbar-fixed-side.navbar-inverse .navbar-collapse, .navbar-fixed-side.navbar-inverse .navbar-nav>li>a, .navbar-fixed-side.navbar-inverse .navbar-form, .navbar-fixed-side.navbar-inverse .navbar-nav .dropdown-menu {
    border-color: rgb(0, 188, 212) !important;
}

.diplom-main-font {
    font-size: 14px;
    text-align: center;
    padding-left: 10px;
    font-family: Polaris-Bold, sans-serif;
    font-weight: 700;
    margin: 0;
    color: #ffffff;
}

.diplom-subnav-main-font {
    font-size: 13px;
    text-align: center;
    padding-left: 10px;
    font-family: Polaris-Bold, sans-serif;
    font-weight: 900;
    margin: 0;
    color: #ffffff;
}

.page-header {
    padding: 0px !important;
    margin: 0px !important;
}

.preview-window {
    height: 300px;
    padding: 10px;
    margin: 10px 0px 10px 0px;
}

.preview-window-field {
    height: 30px;
}

.img-responsive {
    width: 250px;
    height: 280px;
}

.img-responsive-big {
    width: 300px;
    height: 480px;
}

.diplom-category-font {
    font-size: 20px;
    text-align: center;
    padding-left: 10px;
    font-family: Polaris-Bold, sans-serif;
    font-weight: 700;
    margin: 0;
    color: #000000;
}

.diplom-span {
    font-size: 17px;
    text-align: center;
    padding-left: 10px;
    font-family: Polaris-Bold, sans-serif;
    margin: 0;
    color: #000000;
}

.diplom-filter {
    margin-top: 30px;
}

.diplom-filter > div {
    margin-left: 20%;
}

