.smallChart {
    min-width: 300px;
}

.chart {
    height: 270px;
    width: 100%;
}

.clear-span {
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    position: absolute;
    pointer-events: auto;
    right: 23px;
    top: 11px;
    z-index: 100;
    color:#ccc;
}
.clear-span:hover{
    color: #555;
}

.farfetch-main-font {
    font-size: 14px;
    text-align: center;
    padding-left: 10px;
    font-family: Polaris-Bold, sans-serif;
    font-weight: 700;
    margin: 0;
    color: #a5a4a4;
}

.farfetch-subnav-main-font {
    font-size: 13px;
    text-align: center;
    padding-left: 10px;
    font-family: Polaris-Bold, sans-serif;
    font-weight: 900;
    margin: 0;
    color: #a5a4a4;
}

.farfetch-datetime div{
    width: 170px;
}

.farfetch-datetime div > table{
    width: 170px;
}

.farfetch-datetime div > div{
    width: 170px;
}

.farfetch-datetime div > div > table{
    width: 166px;
}

.farfetch-datetime div > div > table > tbody > tr > td{
    height: 22px;
}

.farfetch-datetime {
    width: 170px;
    float: left;
}

.farfetch-main-layout {
    font-size: 14px;
    text-align: center;
    font-family: Polaris-Bold, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    color: #222;
}

.farfetch-font {
    font-size: 14px;
    text-align: center;
    padding-left: 10px;
    font-family: Polaris-Bold, sans-serif;
    font-weight: normal;
    margin: 0;
    color: #a5a4a4;
}
.farfetch-font-ads {
    font-size: 14px;
    text-align: center;
    padding-left: 0;
    font-family: Polaris-Bold, sans-serif;
    font-weight: normal;
    margin: 0;
    color: #a5a4a4;
}

.farfetch-font-nopadding {
    font-size: 14px;
    text-align: center;
    font-family: Polaris-Bold, sans-serif;
    font-weight: normal;
    margin: 0;
    color: #a5a4a4;
}

.btn-without-border {
    background-color : #5cb85c;
    color: #fcf8e3;
}
.btn-without-border:hover {
    background-color : #449d44 !important;
    border-color: rgb(204, 204, 204);
    color: #fcf8e3;
}

.farfetch-font-date div, td, th{
    font-size: 14px;
    text-align: center;
    font-family: Polaris-Bold, sans-serif;
    font-weight: normal;
    margin: 0;
    color: #a5a4a4;
}

.farfetch-font-date > input{
    font-size: 14px;
    text-align: left;
    font-family: Polaris-Bold, sans-serif;
    font-weight: normal;
    margin: 0;
    color: #a5a4a4;
}

.farfetch-font-input {
    font-size: 14px;
    padding-left: 10px;
    font-family: Polaris-Bold, sans-serif;
    font-weight: normal;
    margin: 0;
    color: #a5a4a4;
}

.farfetch-select{
    max-width: 170px;
    min-width: 170px;
}

.farfetch-button-font {
    font-size: 14px;
    text-align: left;
    font-family: Polaris-Bold, sans-serif;
    font-weight: normal;
    margin: 0;
    color: #a5a4a4;
}

.farfetch-option {
    font-size: 14.5px;
    text-align: left;
    padding-left: 10px;
    font-family: Polaris-Bold, sans-serif;
    font-weight: normal;
    margin: 0;
    color: #a5a4a4;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

.panel-green  {
    border-color: #5cb85c;
}

.panel-green-error  {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green-error > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
    height: 30px;
    padding: 5px 15px;
}

body {
    background: white;
}

.huge {
    font-size: 40px;
}

.farfetch-button-filter{
    height: 35px;
}

.farfetch-button {
    width: 170px;
    height: 34px;
}

.farfetch-button:hover {
    width: 170px;
    height: 34px;
    color: #a5a4a4;
}

.farfetch-button:active {
    width: 170px;
    height: 34px;
    color: #a5a4a4;
}

.farfetch-button:focus {
    width: 170px;
    height: 34px;
    color: #a5a4a4;
}

.farfetch-button:visited {
    width: 170px;
    height: 34px;
    color: #a5a4a4;
}

.farfetch-button-no-width {
    height: 34px;
}

.farfetch-fromcontroll-button {
    width: 100px;
    height: 34px;
}

.farfetch-input-button {
    width: 11%;
    height: 34px;
    border-radius: 0px;
}

.box{
    height: 400px;
}

.farfetch-multiselect{
    padding: 5px 5px 8px 5px
}

.farfetch-h4{
    margin: 0 auto;
    color: #a5a4a4;
}

.farfetch-navitem {
    margin-left: 10px;
}

.farfetch-process-bar{
    float: left;
}

.disable-overflow {
    overflow: hidden;
}

.logo-style {
    max-height: 170px;
    max-width: 170px;
    padding: 5px 5px 5px 20px
}

@media screen and (max-width:768px) {
    .farfetch-span-hide{
        display: none;
    }
}

@media screen and (min-width:768px) {
    .farfetch-span-hide{
        color: #a5a4a4;
    }
}

.farfetch-span-no-italic {
    color: #555;
    font-style: normal;
    text-transform: capitalize;
}

.farfetch-span-no-italic-gray {
    color: #a5a4a4;
    font-style: normal;
    text-transform: capitalize;
}

.farfetch-input {
    width: 109.5px;
}

.farfetch-spinner {
    position: absolute;
    left: 40%;
    top: 50%;
}

.farfetch-div {
    float: left;
    margin-right: 2%;
    margin-bottom: 15px;
}

.farfetch-adcopiesconig-div {
    margin-top: 20px;
}

.farfetch-form-controll {
    height: 160px;
}

.farfetch-input-controll {
    border-radius: 0px;
    width: 78%;
}

@media screen and (max-width: 625px) {
    .farfetch-div {
        width: 300px;
        float: none;
        height: 34px;
        margin-bottom: 15px;
    }

    .farfetch-datetime{
        float: left;
        margin: auto;
    }

    .dropdown {
        width: 100%;
    }

    .farfetch-adcopiesconig-div {
        margin: auto;
    }
}

@media (max-width: 525px) {
    .preview-table-select-box {
        width: 100%;
        margin-top: 10px;
        padding-left: 15px;
    }

    .dropdown {
        width: 100%;
        padding-left: 15px;
    }

    .dropzone-button {
        width: 100% !important;
    }
}

#select-range > .dropdown > ul {
    width: 100%;
}

#page {
    padding-top: 20px;
}

.dropzone {
    height: 0;
    width: 0;
}

.dropzone-form {
    height: 100px;
}

.dropzone-button {
    height: 30px;
    margin-top: 10px;
    width: 170px;
}

.spinner-substate {
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: calc(100% + 40px);
    overflow: hidden;
    background: rgba(12, 12, 12, 0.5);
    margin-top: -85px;
}

.file-table {
    padding-left: 0px;
    padding-right: 0px;
}

.shift-left {
    padding-left: 0px;
}

.file-list {
    min-height: 250px;
    margin-top: 20px;
}

.file-select-area {
    width: calc(100% - 345px);
    height: 30px;
    display: inline-block;
    padding-top: 5px;
    margin-top: 10px;
    border: 2px solid rgba(157, 157, 157, 0.3);
    border-radius: 3px;
    background-color: rgba(153, 153, 153, 0.1);
    text-align: right;
    overflow: hidden;
}

.disable-button {
    background-color: rgba(153, 153, 153, 0.1);
}

a.nav-bar-links, a.nav-bar-links:link, a.nav-bar-links:hover, a.nav-bar-links:active, a.nav-bar-links:visited {
    border: none;
    outline: none;
    text-decoration: none;
    color: inherit;
}

.text-right-align {
    text-align: right;
}

.text-left-align {
    text-align: left;
}

.margin-left--15 {
    margin-left: -15px;
}

.farfetch-link {
    font-size: 14px;
    text-align: left;
}

.farfetch-link > i {
    color: #e9c6a7;
}

.active-farfetch-link {
    color: #ffd7d7!important;
}
.active-farfetch-link > i {
    color: #f0515a
}

.alert-cursor {
    cursor: pointer;
}
.alert-cursor:hover {
    text-decoration: none;
}
.def-cursor {
    cursor: default;
}

.cursor-pointer {
    cursor: pointer;
}

.navbar {
    margin-bottom: 0;
}
.modal-green > div > div{
    border-radius: 0;
    border-top-color: #5cb85c;
}
.modal-red > div > div{
    border-radius: 0;
    border-top-color: #f0515a;
}

.preview-table-container {
    border: solid 1px #ebebeb;
    overflow-x: auto;
    overflow-y: auto;
    height: 600px;
    white-space: nowrap;
}

.settings-fields {
    width: 100%;
}

.settings-fields > .dropdown {
    width: 100%;
}

.form-element-title {
    margin-top: 7.5px;
}

.fixed-header-table {
    table-layout: fixed;
    margin: 0;
    position: absolute;
    background: white;
    z-index: 0;
}

.fixed-header-table2 {
    table-layout: fixed;
    margin: 0;
    z-index: 0;
}

.min-width-160 {
    min-width: 160px;
}

.selected-filter-background {
    color: cornflowerblue;
}

.panel-light-blue {
  border-color: #5da6e4;
}

.panel-light-blue > .panel-heading {
    background-color: #5da6e4;
}
.nav-item-button a {
    height: 100%;
}

.no-padding {
    padding: 0;
}

.table>thead:first-child>tr:first-child>th {
    border: 0px;
}

.settings-selector > div > div > select {
    min-width: 240px;
    margin-top: 15px;
}

.acoounts-settings > div > div > div > label {
    font-weight: 700;
    color: #333;
}

.acoounts-settings > div > div > div {
    text-align: left;
    padding-left: 15px;
}

.farfetch-pagination > .disabled > a{
    background-color: #f9f9f9;
    color: #555;
}

.farfetch-pagination > .disabled > a:focus{
    background-color: #f9f9f9;
    color: #555;
}

.farfetch-pagination > li > a{
    background-color: #f9f9f9;
    color: #555;
}

.farfetch-pagination > li > a:hover{
    color: #555;
}

.farfetch-pagination > li.disabled:focus {
    outline: none;
}
.farfetch-pagination > li.disabled > a > span:focus {
    outline: none;
}
.farfetch-pagination > li.disabled > a:focus{
    outline: none;
}

.farfetch-pagination > .active > a{
    background-color: #ddd;
    color: #555;
    border-color: #ddd;
}

.farfetch-pagination > .active > a:focus{
    background-color: #ddd;
    color: #555;
    border-color: #ddd;
}

.farfetch-pagination > .active > a:hover{
    color: #555;
    border-color: #ddd;
    background-color: #ddd;
}

.my-icon-button > div > span {
    font-size: 14px !important;
    color: rgb(92, 184, 92) !important;
}

.my-icon-button-dark > div > span {
    font-size: 14px !important;
    color: #a5a4a4 !important;
}

.custom-menu-item > a {
    color: #a5a4a4 !important;
}

.open>.dropdown-toggle.btn-default:hover {
    color: #a5a4a4 !important;
    background-color: inherit;
    border-color: inherit;
}

.open>.dropdown-toggle.btn-default:focus {
    color: #a5a4a4 !important;
    background-color: inherit;
    border-color: inherit;
}

.farfetch-modal > .modal-dialog {
    width: 800px !important;
}

.modal-footer {
    margin-right: 15px;
    margin-left: 15px;
    padding-right: 0px;
}

.modal-body {
    margin-bottom: -15px;
}

.modal-body > div > table td {
    color: #333;
}
